@model UGB.Data.Fornecedor
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@using UGB.Services

@{
    ViewData["Title"] = "Create";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }

    <h1>Criar</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FornecedorCnpj" class="control-label">CNPJ</label>
                    <input asp-for="FornecedorCnpj" class="form-control"/>
                    <span asp-validation-for="FornecedorCnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorEmail" class="control-label">Email</label>
                    <input asp-for="FornecedorEmail" class="form-control" />
                    <span asp-validation-for="FornecedorEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorInsestadual" class="control-label">Inscrição Estadual</label>
                    <input asp-for="FornecedorInsestadual" class="form-control" maxlength="9" />
                    <span asp-validation-for="FornecedorInsestadual" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorInsmunicipal" class="control-label">Inscrição Municipal</label>
                    <input asp-for="FornecedorInsmunicipal" class="form-control" maxlength="11" />
                    <span asp-validation-for="FornecedorInsmunicipal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorCep" class="control-label">CEP</label>
                    <input asp-for="FornecedorCep" class="form-control" maxlength="8"/>
                    <span asp-validation-for="FornecedorCep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorBairro" class="control-label">Bairro</label>
                    <input asp-for="FornecedorBairro" class="form-control"/>
                    <span asp-validation-for="FornecedorBairro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorCidade" class="control-label">Cidade</label>
                    <input asp-for="FornecedorCidade" class="form-control"/>
                    <span asp-validation-for="FornecedorCidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorUf" class="control-label">UF</label>
                    <input asp-for="FornecedorUf" class="form-control" maxlength="2"/>
                    <span asp-validation-for="FornecedorUf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorRua" class="control-label">Rua</label>
                    <input asp-for="FornecedorRua" class="form-control"/>
                    <span asp-validation-for="FornecedorRua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorNumero" class="control-label">Número</label>
                    <input asp-for="FornecedorNumero" class="form-control" />
                    <span asp-validation-for="FornecedorNumero" class="text-danger"></span>
                </div>
                @if (usuario != null)
                {
                <div class="form-group" hidden>
                    <label asp-for="FornecedorNumero" class="control-label">Usuario</label>
                    <input asp-for="FornecedorNumero" class="form-control" value="@usuario.UserMat"
                        disabled />
                    <span asp-validation-for="FornecedorNumero" class="text-danger"></span>
                </div>
                }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}