@model UGB.Data.OrdemCompra
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Create";
    IFactory<IUsuario> usuarioFactory = new UsuarioFactory();
    IUsuario usuario = usuarioFactory.Create() as IUsuario;
    DateOnly date = DateOnly.FromDateTime(DateTime.Today);
    IPedidoInterno pedido = JsonConvert.DeserializeObject<PedidoInterno>(TempData["PedidoInterno"].ToString());
    IServiço serviço = JsonConvert.DeserializeObject<Serviço>(TempData["Serviço"].ToString());
    DateOnly dataServiço = date.AddDays(int.Parse(serviço.ServPrazo));

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }
    <h1>Criar Ordem de Serviço</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateService" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PedidoInternoPedidoId" class="control-label">Pedido Interno</label>
                    <input asp-for="PedidoInternoPedidoId" class="form-control" value="@pedido.PedidoId" disabled />
                    <span asp-validation-for="PedidoInternoPedidoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantidade Requerida</label>
                    <input id="qtdpedida" class="form-control" name="qtdpedida" type="number" value="@pedido.PedidoQuantidade" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input class="form-control" value="@serviço.ServNome" disabled />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Data Entrega</label>
                    <input id="dataEntrega" class="form-control" type="date" value="@dataServiço"/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OrdemQuantidade" class="control-label">Quantidade</label>
                    <input id="quantidade" asp-for="OrdemQuantidade" class="form-control" name="OrdemQuantidade" />
                    <span asp-validation-for="OrdemQuantidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Código do Serviço</label>
                    <input class="form-control" value="@serviço.ServId" disabled/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltart</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}