@model UGB.Data.OrdemCompra
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Details";
    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;
    var date = DateOnly.FromDateTime(DateTime.Today);

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }

    <h1>Detalhes</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Quantidade
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrdemQuantidade)
            </dd>
            <dt class="col-sm-2">
                Preço Total
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrdemPrecototal)
            </dd>
            <dt class="col-sm-2">
                ID Pedido Interno 
            </dt>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.OrdemId">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
}