@model UGB.Data.Estoque

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Produto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoProdEan)
        </dd>
        <dt class="col-sm-2">
            Quantidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EstoqueId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
