@model UGB.Data.SaidaEstoque

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SaidaEstoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaidaId" class="control-label"></label>
                <input asp-for="SaidaId" class="form-control" />
                <span asp-validation-for="SaidaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaidaQuantidade" class="control-label"></label>
                <input asp-for="SaidaQuantidade" class="form-control" />
                <span asp-validation-for="SaidaQuantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntradaData" class="control-label"></label>
                <input asp-for="EntradaData" class="form-control" />
                <span asp-validation-for="EntradaData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioUserMat" class="control-label"></label>
                <select asp-for="UsuarioUserMat" class ="form-control" asp-items="ViewBag.UsuarioUserMat"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoProdEan" class="control-label"></label>
                <select asp-for="ProdutoProdEan" class ="form-control" asp-items="ViewBag.ProdutoProdEan"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
