@model UGB.Data.SaidaEstoque
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@using UGB.Services
@{
    ViewData["Title"] = "Create";
    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;
    var ean = TempData["ean"];
    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }

    <h1>Criar Saida</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-route-itemid="@ean">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SaidaQuantidade" class="control-label">Quantidade</label>
                    <input asp-for="SaidaQuantidade" class="form-control" />
                    <span asp-validation-for="SaidaQuantidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}