@model UGB.Data.SaidaEstoque
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@using UGB.Services
@{
    ViewData["Title"] = "Edit";
    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }
    <h1>Editar</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SaidaId" />
                <div class="form-group">
                    <label asp-for="SaidaQuantidade" class="control-label">Quantidade</label>
                    <input asp-for="SaidaQuantidade" class="form-control" />
                    <span asp-validation-for="SaidaQuantidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntradaData" class="control-label">Data</label>
                    <input asp-for="EntradaData" class="form-control" />
                    <span asp-validation-for="EntradaData" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UsuarioUserMat" />
                <input type="hidden" asp-for="ProdutoProdEan" />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}