@model UGB.Data.Serviço
@using Newtonsoft.Json
@using UGB.Factory
@using UGB.Interface
@{
    ViewData["Title"] = "Edit";

    var usuarioFactory = new UsuarioFactory();
    var usuario = usuarioFactory.Create() as IUsuario;

    @if (TempData["Usuario"] != null)
    {
        usuario = JsonConvert.DeserializeObject<Usuario>(TempData["Usuario"].ToString());
    }


    <h1>Editar</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ServId" />
                <div class="form-group">
                    <label asp-for="ServNome" class="control-label">Nome</label>
                    <input asp-for="ServNome" class="form-control" />
                    <span asp-validation-for="ServNome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServDescricao" class="control-label">Descrição</label>
                    <input asp-for="ServDescricao" class="form-control" />
                    <span asp-validation-for="ServDescricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ServPrazo" class="control-label">Prazo em Dias</label>
                    <input asp-for="ServPrazo" class="form-control" />
                    <span asp-validation-for="ServPrazo" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <label asp-for="UsuarioUserMat" class="control-label"></label>
                    <select asp-for="UsuarioUserMat" class="form-control" asp-items="ViewBag.UsuarioUserMat"></select>
                    <span asp-validation-for="UsuarioUserMat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FornecedorFornecedorCnpj" class="control-label">Fornecedor CNPJ</label>
                    <select asp-for="FornecedorFornecedorCnpj" class="form-control"
                        asp-items="ViewBag.FornecedorFornecedorCnpj"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}