@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Site desenvolvido por Rafael de Souza Almeida para Teste de Aptidão para Programador .NET C# feito pela UGB.</p>
<p><a href="https://github.com/RafaelAlmeid00">Github</a></p>
<p><a href="https://www.linkedin.com/in/rafael-almeida-b093a0247/">Linkedin</a></p>
