@model UGB.Data.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdNome)
        </dd>
        <dt class="col-sm-2">
            Preço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdPreco)
        </dd>
        <dt class="col-sm-2">
            Fabrincante
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdFabricante)
        </dd>
        <dt class="col-sm-2">
            Estoque Minimo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdEstoqueminimo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdEan">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
